<!DOCTYPE html>
<html lang="sk">
<head>
	<meta charset="utf-8">
	<title>Studio Krasy</title>
</head>

<body>
	<header>
				{% if user.is_authenticated %}
prihlásený používateľ: {{ user.username }}
<a href="/salon/logout/">Odhlásiť sa</a><br />
{% else %}

		<a href="/salon/login/">Prihlásiť sa</a>
		<a href="/salon/register/">Registrácia</a>
{% endif %}
	</header>	
	<nav>

	</nav>

	<main>
		<div>
			<h1>Štúdio Krásy</h1>
		</div>
		<div>

			{{salon.name}}

{% if services %}
    <ul>
    {% for s in services %}
        <li><a href="/salon/{{salon.id}}/{{ s.id }}/">{{ s.title}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}

		</div>


	</main>


	<footer>
		<p>&copy;2015</p>
	</footer>


</body>
</html>
