{% extends 'salons/base.html' %}

{% block body_block %}

<div class="container">
    <div>
        <h2 class="sub-header">{{salon.name}}</h2>
        popis: efpj rgpo úgp úrp g
        gp júrpg rpúg regk p e

    </div>
    <div>

    </div>
</div>
{% endblock %}


{% block side_block %}
<div>
    <div class="container">
        <h3>Služby:</h3>
        {% if services %}
        <ul class="nav nav-sidebar">
            {% for s in services %}
            <li><a href="/salon/{{salon.id}}/{{ s.id }}/">{{ s.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No services are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}


