<!DOCTYPE html>
<html lang="sk">
<head>
	<meta charset="utf-8">
	<title>Studio Krasy</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>

	<header>
				{% if user.is_authenticated %}
prihlásený používateľ: {{ user.username }}
<a href="/salon/logout/">Odhlásiť sa</a><br />
{% else %}

		<a href="/salon/login/">Prihlásiť sa</a>
		<a href="/salon/register/">Registrácia</a>
{% endif %}
	</header>	
	<nav>

	</nav>

	<main>


		<div>
			<h1>Štúdio Krásy</h1>
		</div>
		<div>

			{% if salons_list %}
			<ul>
				{% for s in salons_list %}
				<h2> <li><a href="/salon/{{ s.id }}/">{{ s.name}}</a></li></h2>
				<p>... </p>

				{% endfor %}
			</ul>
			{% else %}
			<p>No salons are available.</p>
			{% endif %}


		</div>


	</main>


	<footer>
		<p>&copy;2015</p>
	</footer>


</body>
</html>
