{% extends 'salons/detail.html' %}
{% block body_block %}


    <div><h2 class="sub-header">
<a href="/salon/{{service.salon.id}}">{{service.salon}}</a></h2>
        <h2 class="sub-header"> {{service}}</h2>
Popis:
        <p>{{service.content_text}}</p>


        {% if user.is_authenticated %}
        <h4> Komentár k článku: </h4>

        <form id="article_form" method="post" action="" enctype="multipart/form-data" class="form-inline">
         {% csrf_token %}
         {{ form }}

         <input class="btn btn-primary" type="submit" name="createComment" value="Vytvoriť komentár" />
        </form>


        {% if comments %}
        <ul>
            {% for c in comments %}

            <li>{{c.user}}
                {{c.date}}
                {{ c.content_text}}
            </li>
                {% if user == c.user %}
            <form id="user_form" method="post" action="" enctype="multipart/form-data">

                <input type="submit" name="submit" value="Uprav"/>
            </form>

                {% endif %}


            {% endfor %}
        </ul>
        {% else %}
        <p>No comments are available.</p>
        {% endif %}

        {% else %}

        Pre zobrazenie komenárov sa musíte <a href="/salon/login/">prihlásiť.</a>
        {% endif %}


    </div>

{% endblock %}




