

h1{
    color: #5C194A;
}
a{
    color: #5C194A;
}
footer{
    text-align: center;
}

.jumbotron{
    background-color: #FFE6FF;
}

.navbar-form a{
    color: #adadad;
}
.navbar-form{
    color: #ffffff;
}
.container h1{
    padding-top: 1ex;
}